header {
  display: flex;
  justify-content: space-between;
  height: 32px;
  width: 375px;
  align-items: center;
  margin: 60px 24px 27px 24px;
}

h1 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

header a {
  background-color: var(--dark-black);
  border-radius: 50%;
  border: 1px solid var(--light-gray);
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header a svg {
  background-color: transparent;
}
