header {
  display: flex;
  justify-content: space-between;
  height: 32px;
  width: 375px;
  align-items: center;
  margin-top: 2rem;
  padding-left: 0.5rem;
}

h1 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.4rem;
}

header button {
  height: 3.2rem;
  width: 3.2rem;
  background-color: var(--dark-black);
  border-radius: 50%;
  border: 1px solid var(--light-gray);
  margin-right: 2.4rem;
}

header button svg {
  background-color: transparent;
}
