@import "./stories.css";

.newsfeed-wrapper {
  width: 375px;
  margin: 0 24px;
}
.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.post-creator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: space-evenly;
  padding: 0;
  margin-left: 8px;
}
.post-wrapper {
  _border-top: 2px solid var(--gray);
  padding: 24px 0 24px 0;
  _border-bottom: 2px solid var(--gray);
  margin-bottom: 50px;
}
.trenner {
  width: auto;
  background-color: red;
  height: 2px;
  z-index: 20;
}
.post-header-left {
  display: flex;
  align-items: center;
}
.profile-pic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.creator-name {
  font-size: 14px;
  _line-height: 16px;
  _margin-bottom: -14px;
}
.post-time {
  font-size: 12px;
  _line-height: 16px;
}
.post-options {
  width: 24px;
  _height: 24px;
  border-radius: 50%;
  margin-right: 24px;
}
