@import "./stories.css";
@import "./navbar.css";

.newsfeed-wrapper {
  width: 375px;
}
.post-header {
  margin: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.post-creator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: space-evenly;
  padding: 0;
  margin-left: 8px;
}

.post-reactions {
  margin: 0 24px;
  display: flex;
  justify-content: space-between;
}
.post-wrapper {
  padding: 24px 0 24px 0;
  margin-bottom: 16px;
}
.trenner {
  width: auto;
  background-color: var(--gray);
  z-index: 20;
}
.post-header-left {
  display: flex;
  align-items: center;
}
.profile-pic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.creator-name {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 2px;
}
.post-time {
  font-size: 12px;
  line-height: 16px;
  color: var(--light-gray);
}
.post-options {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border-radius: 50%;
}
.post-content {
  margin: 16px 24px;
  display: flex;
  overflow-x: scroll;
  gap: 20px;
}
.post-button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border-radius: 50%;
  margin-right: 4px;
}
.post-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
span {
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin-right: 20px;
}
.post-image img {
  min-width: 300px;
  height: 180px;
  border-radius: 16px;
}
