.stories {
  display: flex;
  height: 145px;
  width: 330px;
  margin: 27px 24px 24px 24px;
}

.stories--item {
  display: flex;
  flex-direction: column;
}

.content {
  height: 140px;
  width: 100px;
  border-radius: 16px;
}
