.stories {
  display: flex;
  height: 14.5rem;
  width: 33rem;
  margin: 27px 24px 24px 24px;
}

.stories--item {
  display: flex;
  flex-direction: column;
}

.stories--item img:first-child {
  height: 14rem;
  width: 10rem;
}
